# Ignore virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore dataset files (if they should not be in GitHub)
data/*.csv

# Ignore VS Code settings and logs
.vscode/
*.log
